/.idea
/.vscode
*.log
thinkphp
.env
.DS_Store
/composer.lock
/public/upload/
/vendor/topthink/
/vendor/aliyuncs/
/vendor/bin/
/vendor/chillerlan/
/vendor/composer/
/vendor/ezyang/
/vendor/flc/
/vendor/james-heinrich/
/vendor/maennchen/
/vendor/markbaker/
/vendor/myclabs/
/vendor/phpoffice/
/vendor/picqer/
/vendor/psr/
/vendor/qcloudsms/
/vendor/sybio/
